@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300&display=swap');
body {
    background-color: lightblue;
  }
h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}
p{
    color: rgb(42, 32, 131);
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}